//color sailor Day
    //body
    $body_day_color: #fff4fd;
    //general color
    $day_color1:#F7C9F3;
    $day_color2:#4180F6;
    $day_color3:#FFFFFF;
    $day_color4:#B4B4B4;
    //text
    $day_color_text:#110038;
    //border
    $border_color:#110038;

//color Sailor Night
    //body
    $body_night_color:#110038;
    //general color
    $night_color1:#EE3EFE;
    $night_color2:#2E32FB;
    $night_color3:#A72CB3;
    $night_color4:#B4B4B4;
    $night_color5:#8F8F8F;
    $night_color6:#CCCCCC;
    //text
    $night_color_text: #FFFFFF;
